# Logs
scripts/deploy.log
*.log

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo

# Editor
.vscode/
.idea/

# Node (por si se agrega en futuro)
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
